<!-- Basic form layout section start -->
<section id="basic-form-layouts" *ngIf="DisplayAddCourseForm">
  <div class="row">
    <div class="col-md-12">
      <div class="content-header">Course Form</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-form">Create Course</h4>
    </div>
    <div class="card-body">
      <div class="card-block">
        <div class="px-3">
          <form class="form" [formGroup]="courseform" (ngSubmit)="createcourse()">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="form-section">
                    <i class="ft-user"></i> Course Info</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="fname">Course Name</label>
                        <input type="text" id="fname" class="form-control" name="cname" formControlName="CourseName" [(ngModel)]="course.CourseName"
                          required>
                        <div *ngIf="courseform.controls['CourseName'].errors && (courseform.controls['CourseName'].dirty || courseform.controls['CourseName'].touched)">
                          <small class="text-danger" *ngIf="courseform.get('CourseName').hasError('required')">Course Name is required</small>
                          <small class="text-danger" *ngIf="courseform.get('CourseName').hasError('minlength') && !(courseform.get('CourseName').hasError('pattern'))">Minimum 3 characters</small>
                          <small class="text-danger" *ngIf="courseform.get('CourseName').hasError('pattern')">Enter only characters</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lname">Class Name</label>
                        <select multiple name="ClassName" class="form-control" [(ngModel)]="course.ClassName" formControlName="ClassName" required>
                          <option>rtghrthrth</option>
                          <option>rtghrthrth</option>
                          <option>rtghrthrth</option>
                          <option>rtghrthrth</option>
                          <option>rtghrthrth</option>
                          <!-- <option *ngFor="let class of classdd" [ngValue]="class.Item1">
                            {{ class.Item2 }}
                          </option> -->
                        </select>
                        <div *ngIf="courseform.controls['ClassName'].errors && (courseform.controls['ClassName'].dirty || courseform.controls['ClassName'].touched)">
                          <small class="text-danger" *ngIf="courseform.get('ClassName').hasError('required')">Class Name is required</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="savecl">
                <button type="submit" class="btn btn-raised btn-raised btn-primary" [disabled]="!courseform.valid">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->

<!--Extended Table starts-->
<div class="row">
  <div class="col-12">
    <div class="content-header">
      <a class="btn btn-info btn-raised font-medium-3" (click)="CreateAddCourse()">Add Course</a>
    </div>
  </div>
  <section id="extended">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <!-- <h4 class="card-title">Student List</h4> -->
          </div>
          <div class="card-body">
            <div class="card-block">
              <table class="table table-responsive text-center">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Class Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor='let course of addcourselist'>
                    <td>{{course.CourseName}}</td>
                    <td> {{course.ClassName}}</td>
                    <td>
                      <a class="success p-0" data-original-title="" title="" (click)="EditAddCourse(course)">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" title="" (click)="DeleteAddCourse(course)">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>

                  <tr *ngIf="!addcourselist || addcourselist.length==0">
                    <td colspan="12">
                      No Add Course to display
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--Extended Table Ends-->