<!-- Teacher form layout section start -->
<section id="basic-form-layouts" *ngIf="displayassignsubjectteacher">

  <!-- <div class="row">
      <div class="col-md-12">
        <div class="content-header"> Assign Subject & Teacher to Class Information</div>
      </div>
    </div> -->
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-form">Create Assign Subject & Teacher to Class</h4>
    </div>
    <div class="card-body">
      <div class="card-block">
        <div class="px-3">
          <form class="form" [formGroup]="assignteacherform" (ngSubmit)="AssignSubjectTeachertoClass()">
            <div class="form-body">

              <h4 class="form-section">
                <i class="ft-user"></i>Working Days Info</h4>
              <div class="row">


                <div class="col-md-4">
                  <div class="form-group">
                    <label for="WorkingDays">Total Number of Working days in a Week</label>
                    <input type="text" id="WorkingDays" class="form-control" name="WorkingDays" formControlName="WorkingDays" [(ngModel)]="assignteacher.WorkingDays"
                      required>
                    <div *ngIf="assignteacherform.controls['WorkingDays'].errors && (assignteacherform.controls['WorkingDays'].dirty || assignteacherform.controls['WorkingDays'].touched)">
                      <small class="text-danger" *ngIf="assignteacherform.get('WorkingDays').hasError('required')">Total Number of Working days in a Week is required</small>
                      <small class="text-danger" *ngIf="assignteacherform.get('WorkingDays').hasError('pattern')">Enter only Numbers</small>
                      <small class="text-danger" *ngIf="assignteacherform.get('WorkingDays').hasError('maxlength') && !(assignteacherform.get('WorkingDays').hasError('pattern'))">Enter 1 Number only</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Periods">Total Number Of Periods Per Day</label>
                    <input type="text" id="Periods" class="form-control" name="Periods" formControlName="Periods" [(ngModel)]="assignteacher.Periods"
                      required>
                    <div *ngIf="assignteacherform.controls['Periods'].errors && (assignteacherform.controls['Periods'].dirty || assignteacherform.controls['Periods'].touched)">
                      <small class="text-danger" *ngIf="assignteacherform.get('Periods').hasError('required')">Total Number Of Periods Per Day in a Week is required</small>
                      <small class="text-danger" *ngIf="assignteacherform.get('Periods').hasError('pattern')">Enter only Numbers</small>
                      <small class="text-danger" *ngIf="assignteacherform.get('Periods').hasError('maxlength') && !(assignteacherform.get('Periods').hasError('pattern'))">Enter 1 Number only</small>
                    </div>
                  </div>
                </div>
              </div>



              <h4 class="form-section">
                <i class="ft-user"></i>Assiagn Teacher and Subject to Class</h4>
              <div class="row">
                <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label for="WeekDay">Start WeekDay</label>
                    <select id="WeekDay" name="WeekDay" class="form-control" [(ngModel)]="assignteacher.WeekDay" formControlName="Class" required>
                      <option disabled [ngValue]="null">Select WeekDay</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                      <option value="Saturday">Saturday</option>

                    </select>
                  </div>

                </div> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Class">Class</label>
                    <select id="Class" name="Class" class="form-control" [(ngModel)]="assignteacher.Class" formControlName="Class" required>
                      <option disabled [ngValue]="null">Select Class</option>
                      <option value="LKG">L.K.G</option>
                      <option value="UKG">U.K.G</option>
                      <option value="1stClass">1st Class</option>
                      <option value="2stClass">2nd Class</option>
                      <option value="3rdClass">3rd Class</option>
                      <option value="4thClass">4th Class</option>
                      <option value="5thClass">5th Class</option>
                      <option value="6thClass">6th Class</option>
                      <option value="7thClass">7th Class</option>
                      <option value="8thClass">8th Class</option>
                      <option value="9thClass">9th Class</option>
                      <option value="10thClass">10th Class</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">


                  <div class="form-group">
                    <label for="Section">Section</label>
                    <select id="Section" name="Section" class="form-control" [(ngModel)]="assignteacher.Section" formControlName="Section" required>
                      <!-- <option value="0" selected="" disabled="">Section</option> -->
                      <option disabled [ngValue]="null">Select Section</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>

              <div class="row">

                <div class="col-md-4">

                  <div class="form-group">
                    <label for="Subject">Subject</label>
                    <select id="Subject" name="Subject" class="form-control" [(ngModel)]="assignteacher.Subject" formControlName="Subject" required>
                      <!-- <option value="0" selected="" disabled="">Section</option> -->
                      <option disabled [ngValue]="null">Select Subject</option>
                      <option value="Telugu">Telugu</option>
                      <option value="Hindi">Hindi</option>
                      <option value="English">English</option>
                      <option value="Maths">Maths</option>
                      <option value="Science">Science</option>
                      <option value="Social">Social</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Teacher">Teacher</label>
                    <select id="Teacher" name="Teacher" class="form-control" [(ngModel)]="assignteacher.Teacher" formControlName="Teacher" required>
                      <!-- <option value="0" selected="" disabled="">Section</option> -->
                      <option disabled [ngValue]="null">Select Teacher</option>
                      <option value="Sandeep">Sandeep</option>
                      <option value="Sukdev">Sukdev</option>

                    </select>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <h4 class="form-section">
                <i class="ft-user"></i>Assiagn Periods to Days</h4>
              <div class="row">


                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Monday">Monday</label>
                    <input type="text" id="Monday" class="form-control" name="Monday" formControlName="Monday" [(ngModel)]="assignteacher.Monday">
                    <div *ngIf="assignteacherform.controls['Monday'].errors && (assignteacherform.controls['Monday'].dirty || assignteacherform.controls['Monday'].touched)">
                        <small class="text-danger" *ngIf="assignteacherform.get('Monday').hasError('pattern')">Enter only Numbers</small>
                        <small class="text-danger" *ngIf="assignteacherform.get('Monday').hasError('minlength') && !(assignteacherform.get('Monday').hasError('pattern'))">Enter 1 Number only</small>
                        <small class="text-danger" *ngIf="assignteacherform.get('Monday').hasError('maxlength') && !(assignteacherform.get('Monday').hasError('pattern'))">Enter 2 Numbers only</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Tuesday">Tuesday</label>
                    <input type="text" id="Tuesday" class="form-control" name="Tuesday" formControlName="Tuesday" [(ngModel)]="assignteacher.Tuesday">
                    <div *ngIf="assignteacherform.controls['Tuesday'].errors && (assignteacherform.controls['Tuesday'].dirty || assignteacherform.controls['Tuesday'].touched)">
                        <small class="text-danger" *ngIf="assignteacherform.get('Tuesday').hasError('pattern')">Enter only Numbers</small>
                        <small class="text-danger" *ngIf="assignteacherform.get('Tuesday').hasError('minlength') && !(assignteacherform.get('Tuesday').hasError('pattern'))">Enter 1 Number only</small>
                        <small class="text-danger" *ngIf="assignteacherform.get('Tuesday').hasError('maxlength') && !(assignteacherform.get('Tuesday').hasError('pattern'))">Enter 2 Numbers only</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Wednesday">Wednesday</label>
                    <input type="text" id="Wednesday" class="form-control" name="Wednesday" formControlName="Wednesday" [(ngModel)]="assignteacher.Wednesday">
                    <div *ngIf="assignteacherform.controls['Wednesday'].errors && (assignteacherform.controls['Wednesday'].dirty || assignteacherform.controls['Wednesday'].touched)">
                        <small class="text-danger" *ngIf="assignteacherform.get('Wednesday').hasError('pattern')">Enter only Numbers</small>
                        <small class="text-danger" *ngIf="assignteacherform.get('Wednesday').hasError('minlength') && !(assignteacherform.get('Wednesday').hasError('pattern'))">Enter 1 Number only</small>
                        <small class="text-danger" *ngIf="assignteacherform.get('Wednesday').hasError('maxlength') && !(assignteacherform.get('Wednesday').hasError('pattern'))">Enter 2 Numbers only</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                      <label for="Thursday">Thursday</label>
                      <input type="text" id="Thursday" class="form-control" name="Thursday" formControlName="Thursday" [(ngModel)]="assignteacher.Thursday">
                      <div *ngIf="assignteacherform.controls['Thursday'].errors && (assignteacherform.controls['Thursday'].dirty || assignteacherform.controls['Thursday'].touched)">
                          <small class="text-danger" *ngIf="assignteacherform.get('Thursday').hasError('pattern')">Enter only Numbers</small>
                          <small class="text-danger" *ngIf="assignteacherform.get('Thursday').hasError('minlength') && !(assignteacherform.get('Thursday').hasError('pattern'))">Enter 1 Number only</small>
                          
                          <small class="text-danger" *ngIf="assignteacherform.get('Thursday').hasError('maxlength') && !(assignteacherform.get('Thursday').hasError('pattern'))">Enter 1 Numbers only</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="Friday">Friday</label>
                      <input type="text" id="Friday" class="form-control" name="Friday" formControlName="Friday" [(ngModel)]="assignteacher.Friday">
                      <div *ngIf="assignteacherform.controls['Friday'].errors && (assignteacherform.controls['Friday'].dirty || assignteacherform.controls['Friday'].touched)">
                          <small class="text-danger" *ngIf="assignteacherform.get('Friday').hasError('pattern')">Enter only Numbers</small>
                          <small class="text-danger" *ngIf="assignteacherform.get('Friday').hasError('minlength') && !(assignteacherform.get('Friday').hasError('pattern'))">Enter 1 Number only</small>
                          <small class="text-danger" *ngIf="assignteacherform.get('Friday').hasError('maxlength') && !(assignteacherform.get('Friday').hasError('pattern'))">Enter 2 Numbers only</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="Saturday">Saturday</label>
                      <input type="text" id="Saturday" class="form-control" name="Saturday" formControlName="Saturday" [(ngModel)]="assignteacher.Saturday">
                      <div *ngIf="assignteacherform.controls['Saturday'].errors && (assignteacherform.controls['Saturday'].dirty || assignteacherform.controls['Saturday'].touched)">
                          <small class="text-danger" *ngIf="assignteacherform.get('Saturday').hasError('pattern')">Enter only Numbers</small>
                          <small class="text-danger" *ngIf="assignteacherform.get('Saturday').hasError('minlength') && !(assignteacherform.get('Saturday').hasError('pattern'))">Enter 1 Number only</small>
                          <small class="text-danger" *ngIf="assignteacherform.get('Saturday').hasError('maxlength') && !(assignteacherform.get('Saturday').hasError('pattern'))">Enter 2 Numbers only</small>
                      </div>
                    </div>
                  </div>
  
              </div>
              <div class="row">


               
              </div>
            </div>
            <div class="form-actions">
              <div class="savecl">
                <button type="submit" class="btn btn-raised btn-raised btn-primary" [disabled]="!assignteacherform.valid">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1" (click)="Cancel()">
                  <i class="ft-x"></i> Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Teacher form layout section end -->
<section id="extended">
    <div class="row">
    <div class="col-sm-12">

    <div class="card">
        <div class="card-header" *ngIf="CreateSCTButton">
          <h4 class="card-title">Assign Subject & Teacher to Class Information</h4>
          <br>
          <a class="btn btn-info btn-raised font-medium-1" (click)="CreateAssignSubjectTeachertoClass()">+AddAssignSubjectTeachertoClass</a>
        </div>
        <div class="card-body">
          <div class="card-block">
            <table class="table table-responsive text-center">
              <thead>
                <tr>
                  <th>WorkingDays</th>
                  <th>Periods</th>
                  <th>WeekDay</th>
                  <th>Class</th>
                  <th>Section</th>
                  <th>Subject</th>
                  <th>Teacher</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor='let teacher of assignsubjectteacherlist'>
                  <td>{{teacher.WorkingDays}}</td>
                  <td> {{teacher.Periods}}</td>
                  <td> {{teacher.WeekDay}}</td>
                  <td>{{teacher.Class}}</td>
                  <td>{{teacher.Section}}</td>
                  <td>{{teacher.Subject}}</td>
                  <td>{{teacher.Teacher}}</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="" (click)="EditTeacher(teacher)">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="" (click)="DeleteTeacher(teacher.TeacherID)">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>

                <tr *ngIf="!assignsubjectteacherlist || assignsubjectteacherlist.length==0">
                  <td colspan="12">
                    No assign subject teacher to class to display
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>