
<div class="gap-top row">
    <div class="col-md-6">
      <div class="chart">
        <h2>Total Strength of students 824</h2>
      <canvas id="student-pie"></canvas>
    </div>
    </div>
    
    <div class="col-md-6">
      <div class="chart">
        <h2>Total Strength of students 74</h2>
      <canvas id="staff-pie"></canvas>
    </div>
    </div>
  
</div>
<div class="gap-top row">  
    <div class="col-md-12">
      <div class="chart">
        <h2>Pass Percentage of Students</h2>
      <canvas id="lineChart"></canvas>
    </div>
    </div>
  
</div>