
<div class="gap-top row">
    <div class="col-md-6">
      <div class="chart">
        
        <h2 class="head">Total Strength of students 824 
          <div>
            <img src="assets/img/reading.svg" class="imgstyle"/>
        </div>
        </h2>
      <canvas id="student-pie"></canvas>
    </div>
    </div>
    
    <div class="col-md-6">
      <div class="chart">
          
        <h2 class="head">Total Strength of Staff 74 <div >
          <img class="imgstyle" src="assets/img/teacher.svg" />
          </div>
        </h2>
      <canvas id="staff-pie"></canvas>
    </div>
    </div>
  
</div>
<div class="gap-top row">  
    <div class="col-md-12">
      <div class="chart">
        <h2 class="head">Pass & Attendance Percentage of Students
          <div>
            <img src="assets/img/report.svg" class="imgstyle"/>
        </div>
        </h2>
      <canvas id="lineChart"></canvas>
    </div>
    </div>
  
</div>